Source: ccore
Priority: optional
Maintainer: Thomas Versteeg <thomasversteeg@gmx.com>
Build-Depends: 
 debhelper (>= 9),
 build-essential,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libx11-dev,
 libxext-dev,
 libxi-dev,
 libxrandr-dev
Standards-Version: 3.9.6
Section: libs
Homepage: http://github.com/ccore/ccore

Package: libccore1
Architecture: any
Depends:
 libx11-6,
 x11-common,
 xserver-xorg,
 libgl1-mesa-dri,
 libglu1-mesa,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Shared library files for the ccore library
 ccore is an low-level abstraction library for writing multimedia
 applications, with a focus on games.
 .
 This package contains the dynamic library.

Package: libccore-dev
Section: libdevel
Architecture: any
Depends: 
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libx11-dev,
 libxext-dev,
 libxi-dev,
 libxrandr-dev,
 libccore1 (= ${binary:Version}), 
 ${misc:Depends}
Description: Development files for the ccore library
 ccore is an low-level abstraction library for writing multimedia
 applications, with a focus on games.
 .
 This package contains the static library, headers and documentation.
 
Package: libccore1-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libccore1 (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for the ccore library
 ccore is an low-level abstraction library for writing multimedia
 applications, with a focus on games.
 .
 This package contains the debug symbols.
